@use "../helpers/" as *;

footer {
  background-color: $section-color;
  background-position: 50%;
  background-size: cover;
  height: 400px;
  text-align: center;
  color: white;
  & .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    & .social {
      margin-bottom: 20px;
      & .icon {
        width: 50px;
        height: 50px;
        margin-right: 30px;
        cursor: pointer;
        transition: $main-transition;
        &:hover {
          color: #7700f6;
        }
      }
    }
    & .privacy {
      display: flex;
      gap: 30px;
      & p {
        font-size: 18px;
        cursor: pointer;
        &:hover {
          @include specialColor;
        }
      }
    }
  }
}
