@use "../helpers/" as *;

.market {
  background-color: $section-color;
  padding: $main-padding 0;
  @media (max-width: 400px) {
    padding: 220px 0 100px;
  }
  .market-content {
    display: flex;
    flex-direction: column;

    h2 {
      color: white;
      font-size: 45px;
      margin-bottom: 30px;

      @media (max-width: 430px) {
        font-size: 35px;
      }
    }

    &__coin-list {
      width: 100%;
      height: auto;
      display: flex;
      flex-direction: column;
      white-space: nowrap;
      overflow-x: auto;

      &__top {
        display: grid;
        grid-template-columns: 16fr 25fr 25fr 25fr;
        color: white;
        font-size: 20px;
        padding: 15px;
        text-align: right;
        font-weight: 500;
        background: linear-gradient(25deg, rgb(38, 0, 252), rgb(255, 0, 234));
        border-radius: 8px 8px 0 0;
        gap: 20px;

        @media (max-width: 800px) {
          display: flex;
          justify-content: space-between;
        }

        p {
          margin: 5px 0;
          @media (max-width: 800px) {
            width: 180px;
            text-align: center;
          }
        }

        @media (max-width: 700px) {
          width: fit-content;
        }

        p:first-child {
          text-align: left;
        }
      }

      &__row {
        display: flex;
        flex-direction: column;
      }

      &__pagination {
        display: flex;
        gap: 20px;
        justify-content: center;
        align-items: center;
        margin-top: 50px;

        button {
          font-size: 20px;
          width: 50px;
          height: 50px;
          border-radius: 50%;
          cursor: pointer;
          background-color: white;
        }
      }
    }

    .activePagi {
      background: linear-gradient(25deg, rgb(38, 0, 252), rgb(255, 0, 234));
      color: white;
    }

    .coin-row {
      display: grid;
      grid-template-columns: 16fr 25fr 25fr 25fr;
      color: white;
      font-size: 20px;
      padding: 25px 15px;
      text-align: right;
      font-weight: 500;
      width: 100%;
      height: auto;
      border-bottom: 1px solid white;
      align-items: center;
      gap: 20px;
      background-color: black;
      user-select: none;

      &:hover {
        background-color: #200840;
        cursor: pointer;
      }

      @media (max-width: 700px) {
        width: fit-content;
      }

      p:last-child {
        @media (max-width: 800px) {
          width: 230px;
        }
      }

      p {
        @media (max-width: 800px) {
          width: 150px;
        }
      }

      span {
        text-align: left;
        align-items: center;
        display: flex;
        gap: 20px;

        @media (max-width: 800px) {
          width: 190px;
        }
      }
    }
  }
}
