@use "../helpers/" as *;

.coinPage {
  background-image: linear-gradient(to top, #0f051d 30%, #130749 70%);
  width: 100%;
  height: 100vh;

  @media (max-width: 1000px) {
    height: 150vh;
  }
}

.coin-content {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  width: 100%;
  height: 100vh;
  position: relative;

  @media (max-width: 1000px) {
    flex-direction: column;
    padding-top: 100px;
  }

  &__img-side {
    width: 30%;
    border-right: 2px solid white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    & .close {
      color: white;
      position: absolute;
      font-weight: bold;
      right: 10px;
      top: 150px;
      font-size: 28px;
      display: block;
      @include specialColor;
      &:hover {
        -webkit-text-fill-color: white;
      }
    }
    @media (max-width: 1000px) {
      width: 90%;
    }

    @media (max-width: 1000px) {
      border-bottom: 2px solid white;
      border-right: none;
      padding-bottom: 15px;
    }

    h2 {
      font-size: 33px;
      margin: 20px 0 10px;
    }

    p {
      font-size: 20px;
      font-weight: 500;
      margin: 10px 0;
    }

    img {
      width: 200px;
      height: 200px;
    }
  }

  &__text-side {
    width: 70%;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @media (max-width: 1000px) {
      width: 100%;
      padding: 20px 10px;
    }

    &__24h,
    &__current,
    &__symbol {
      display: flex;
      font-size: 20px;
      gap: 20px;
      justify-content: center;
      white-space: nowrap;

      p {
        margin: 0;
        &.green {
          color: #0ecb81;
        }
        &.red {
          color: red;
        }
        span {
          color: white;
          text-transform: uppercase;
        }
      }
    }
  }
}

.numb {
  display: flex;
  justify-content: space-between;
  width: 100%;

  @media (max-width: 1000px) {
    flex-wrap: wrap;
    gap: 1.5rem;
    justify-content: center;
  }
}

.description {
  width: 100%;
  font-size: 20px;
  height: 300px;
  overflow-y: auto;
  margin-top: 30px;
  text-align: left;

  a {
    color: #0ecb81;
  }
}
